apiVersion: v1
kind: Secret
metadata:
  name: pihole-secret
  namespace: svc-pihole
type: Opaque
stringData:
  web_password: "changeme!"
  app_password_0: "Pod 0"
  app_password_1: "Pod 1"
  app_password_2: "Pod 2"
  primary_string: "http://pihole-0.pihole-headless.svc-pihole:80|<web_password>"
  secondary_string: "http://pihole-1.pihole-headless.svc-pihole:80|<web_password>,http://pihole-2.pihole-headless.svc-pihole:80|<web_password>"