apiVersion: v1
kind: Secret
metadata:
  name: qbittorrent-wireguard
  namespace: svc-qbittorrent
type: Opaque
stringData:
  wg0.conf: |
    [Interface]
    # Device: 
    PrivateKey = 
    Address = 
    DNS = 

    [Peer]
    PublicKey = 
    AllowedIPs = 0.0.0.0/0
    Endpoint = 