apiVersion: v1
kind: Secret
metadata:
  name: ghcr-cred
  namespace: ops-monitoring
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "ghcr.io": {
          "username": "fabianliske",
          "password": "CHANGE_ME_GHCR_TOKEN",
          "email": "email@example.com",
          "auth": "CHANGE_ME_BASE64_USERNAME_COLON_TOKEN"
        }
      }
    }
