apiVersion: v1
kind: Secret
metadata:
  name: telegraf-secret
  namespace: monitoring
type: Opaque
stringData:
  IPMI_USERNAME:
  IPMI_PASSWORD:
  BROCADE_AUTH_PASS:
  BROCADE_PRIV_PASS:
  EDGEROUTER_AUTH_PASS:
  EDGEROUTER_PRIV_PASS:
  INFLUXDB_NETWORK:
  INFLUXDB_SERVER:
