apiVersion: v1
kind: Secret
metadata:
  name: telegraf-secret
  namespace: ops-monitoring
type: Opaque
stringData:
  IPMI_USERNAME: CHANGE_ME_IPMI_USERNAME
  IPMI_PASSWORD: CHANGE_ME_IPMI_PASSWORD
  INFLUXDB_NETWORK: CHANGE_ME_INFLUXDB_ADMIN_TOKEN
  INFLUXDB_SERVER: CHANGE_ME_INFLUXDB_ADMIN_TOKEN
  INFLUXDB_CLUSTER: CHANGE_ME_INFLUXDB_ADMIN_TOKEN
