apiVersion: v1
kind: Secret
metadata:
  name: telegraf-secret
  namespace: monitoring
type: Opaque
data:
  IPMI_USERNAME: <base64-encoded-value>
  IPMI_PASSWORD: <base64-encoded-value>
  BROCADE_AUTH_PASS: <base64-encoded-value>
  BROCADE_PRIV_PASS: <base64-encoded-value>
  EDGEROUTER_AUTH_PASS: <base64-encoded-value>
  EDGEROUTER_PRIV_PASS: <base64-encoded-value>
  INFLUXDB_NETWORK: <base64-encoded-token-for-network-bucket>
  INFLUXDB_SERVER: <base64-encoded-token-for-server-bucket>
  INFLUXDB_SERVICE: <base64-encoded-token-for-service-bucket>