apiVersion: v1
kind: Secret
metadata:
  name: longhorn-b2-backup
  namespace: longhorn-system
type: Opaque
stringData:
  AWS_ENDPOINTS: <ENDPOINT>
  AWS_ACCESS_KEY_ID: <ID>
  AWS_SECRET_ACCESS_KEY: <KEY>
