apiVersion: v1
kind: Secret
metadata:
  name: unifi-secrets
  namespace: unifi-network
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: "your-root-user"
  MONGO_INITDB_ROOT_PASSWORD: "your-root-pass"
  MONGO_USER: "your-mongo-user"
  MONGO_PASS: "your-mongo-pass"