apiVersion: v1
kind: Secret
metadata:
  name: ntfy-secret
  namespace: svc-ntfy
type: Opaque
stringData:
  NTFY_AUTH_USERS: "admin:<bcrypt-password-hash>:admin"
  NTFY_AUTH_TOKENS: "admin:tk_replacewith32chars:Homelab automation"
  NTFY_ADMIN_PASSWORD: "<initial-admin-password>"
