apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: svc-vaultwarden
labels:
  - pairs:
      app: vaultwarden
      gitops: flux
resources:
  - namespace.yaml
  - vault-secret.yaml
  - configmap.yaml
  - admin-toggle-configmap.yaml
  - admin-deny-configmap.yaml
  - admin-deny-deployment.yaml 
  - admin-deny-service.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress-public.yaml
  - netpol-ingress.yaml
  - netpol-egress-deny.yaml

replacements:
  - source:
      kind: ConfigMap
      name: vaultwarden-admin-toggle
      fieldPath: data.ADMIN_BACKEND_SERVICE
    targets:
      - select:
          kind: Ingress
          name: vaultwarden
        fieldPaths:
          - spec.rules.0.http.paths.0.backend.service.name
        options:
          create: false
