apiVersion: v1
kind: Secret
metadata:
    name: ghcr-cred
    namespace: svc-kochen
type: kubernetes.io/dockerconfigjson
stringData:
    .dockerconfigjson: |
        {
          "auths": {
            "ghcr.io": {
              "username": "fabianliske",
              "password": "Token",
              "email": "email@example.com",
              "auth": "Base64 Username + Token"
            }
          }
        }
