apiVersion: v1
kind: Secret
metadata:
  name: unpoller-secret
  namespace: ops-monitoring
type: Opaque
stringData:
  UP_UNIFI_DEFAULT_URL: https://192.168.10.1
  UP_UNIFI_DEFAULT_USER: unpoller
  UP_UNIFI_DEFAULT_PASS: CHANGE_ME_UNPOLLER_PASSWORD
  UP_UNIFI_DEFAULT_VERIFY_SSL: "false"
  UP_UNIFI_DEFAULT_SITE_0: all
  UP_UNIFI_DEFAULT_SAVE_SITES: "true"
  UP_UNIFI_DEFAULT_SAVE_DPI: "true"
  UP_UNIFI_DEFAULT_SAVE_IDS: "false"
  UP_UNIFI_DEFAULT_SAVE_EVENTS: "false"
  UP_UNIFI_DEFAULT_SAVE_ALARMS: "false"
  UP_UNIFI_DEFAULT_SAVE_ANOMALIES: "false"
  UP_PROMETHEUS_DISABLE: "false"
  UP_PROMETHEUS_NAMESPACE: unifipoller
  UP_PROMETHEUS_HTTP_LISTEN: 0.0.0.0:9130
  UP_INFLUXDB_DISABLE: "true"
