apiVersion: v1
kind: Secret
metadata:
  name: paperless-secret
  namespace: svc-paperless-ngx
type: Opaque
stringData:
  postgres_user: "paperless"
  postgres_password: "changeme!"
  postgres_db: "paperless"
  paperless_secret_key: "generate-a-random-key-here"