apiVersion: v1
kind: Secret
metadata:
  name: ghcr-cred
  namespace: svc-mampftracker
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "ghcr.io": {
          "username": "<github-username>",
          "password": "<token-with-package-read-access>",
          "auth": "<base64-username-colon-token>"
        }
      }
    }
