apiVersion: v1
kind: Secret
metadata:
  name: ghcr-cred
  namespace: svc-image-compressor
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {"auths":{"ghcr.io":{"username":"<github-username>","password":"<classic-or-fine-grained-token>","auth":"<base64(username:token)>","email":"<optional-email>"}}}
